@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    padding: 0 16px; /* Optional padding */
}

/* Loading animation */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


:root {
    --primary-color: #001C33;
    --secondary-color: #99D1FF;
    --background-color: #262626;
    --text-color: #FFF;
}
